html{
    height: 100%;
}
body {
    background-image: url("../Images/grey-cloth-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
    min-height: 100%;
    display: flex;
    flex-direction: column;
} 
/* __________________________COLORS SCHEME____________________________ */
.blue-text {
    color: #40d6ff!important;
}
.dark-grey-bg {
    background-color: #3a3e42
}
.p-text {
    color: #a3baca!important
}

 /*            Styles for the header and navbar            */
header  a {
    font-size: 1.3rem;
}

#name-text {
    font-size: 1.5rem;
    font-weight: bold;
}
.active {
    font-size: 1.5rem;
}



/*            General Styles in the main container            */
.off-white-background {
    background-color: #f8f9fa;
}
.profile-img {
    width: 250px;
    height: auto;
}
.btn-color {
    background-color: #6c757d!important;
    color: #f8f9fa;
}



 /*                 This is the footer styles                   */
footer {
    border-top: 4px solid  #40d6ff!important;
}
.center-block {
    margin: .5rem auto;
    /* text-align: center; */
}
.footer-btm {

    margin-top: auto;
}
footer a {
    color: #40d6ff!important;
    font-weight: 500;
}
.footer-icon {
    font-size: 32px;
    color:  #40d6ff!important;

}


@media (max-width: 990px) {
    .center-sm {
        margin-left: 30%;
    }
 }


/*  Media query to help the style look better on small devices       */
@media (max-width: 575.98px) { 
 
    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    .small-br-margin-2 {
        margin-right: 3%;
        margin-left: 3%;
    }
}