img.cardImg {
  display: block;
  min-height: 300px;
  max-height: 300px;
  padding: 1.25rem;
}
.card-body {
  padding-bottom: 0px;
}

.col {
  margin-top: 2rem;
}
div.card-title.h5 {
  color: #2f503d;
}
ol.breadcrumb {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  background-color: transparent;
  text-align: center;
}
ol.breadcrumb a {
  color: #2f503d;
}

/* // Extra small devices (portrait phones, less than 576px)
 */
@media (max-width: 575.98px) {
  .card {
    margin: 5px 0.8rem;
  }
}
/* 
// Small devices (landscape phones, less than 768px) */

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  img.cardImg {
    display: block;
    min-height: 250px;
    max-height: 250px;
  }
}

@media (max-width: 767.98px) {
  img.cardImg {
    display: block;
    min-height: 230px;
    max-height: 230px;
  }
}
/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  ...;
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */

ol.breadcrumb a:hover {
  font-size: 1.2rem;
  text-decoration: none;
}
