/* html,
body {
  background-color: #e0e0e0;
  height: 100%;
} */

body,
h3,
h4,
h5,
a,
div.mainIcons {
  font-family: "Noto Sans", sans-serif;
  color: #21392b;
}
p {
  font-family: "Noto Sans", sans-serif;
  color: #2f503d;
}

div.list-group-item {
  background-color: transparent;
  border: unset;
}

.sm-center {
  text-align: center;
  margin: 0 auto;
}
h1 {
  color: #21392b;
  font-size: large;
}

.bg-color {
  background-color: #e0e0e0;
}

.shadow {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px, 0px, 50px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767.98px) {
  svg.icons-sm {
    font-size: 1rem;
  }
  svg.icons-md {
    font-size: 3rem;
  }
  svg.icons-lg {
    font-size: 5rem;
  }
}

@media (max-width: 400px) {
  svg.icons-sm {
    margin: 0 0.25rem !important;
  }
  svg.icons-md {
    margin: 0 0.25rem !important;
  }
  svg.icons-lg {
    margin: 0 0.25rem !important;
  }
}
